body 
{
    padding: 20px;
}
#resmessage 
{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    background-color: red;
    color: white;
    text-align: center;
    margin: 10px auto;
}
td ,th
{
    padding: 5px;
}